:root {
  --background-color: #424242;
  --box-shadow: 0 0 32px 0 rgba(0,0,0, 0.25);
  --tab-radius: 8px;
  --text-strong: rgba(0,0,0, 0.50);
  --text-stronger: rgba(0,0,0, 0.75);
  --text-strongest: #424242;
  --text-weak: rgba(0,0,0, 0.25);
  --text-weaker: rgba(0,0,0, 0.15);
  --text-weakest: rgba(0,0,0, 0.10);
  --scrollbar-width: 4px;
  --scrollbar-margin: 6px;
}

.dark {
  --text-strong: rgba(255,255,255, 0.50);
  --text-stronger: rgba(255,255,255, 0.75);
  --text-strongest: white;
  --text-weak: rgba(255,255,255, 0.25);
  --text-weaker: rgba(255,255,255, 0.15);
  --text-weakest: rgba(255,255,255, 0.10);
  --background-color: #424242;
  color: var(--text-stronger);
}

.bright {
  --text-strong: rgba(0,0,0, 0.50);
  --text-stronger: rgba(0,0,0, 0.75);
  --text-strongest: #424242;
  --text-weak: rgba(0,0,0, 0.25);
  --text-weaker: rgba(0,0,0, 0.15);
  --text-weakest: rgba(0,0,0, 0.10);
  --background-color: #fafafa;
  color: var(--text-stronger);
}

::-webkit-scrollbar {
  width: calc(2 * var(--scrollbar-margin) + var(--scrollbar-width));
  background: none;
} ::-webkit-scrollbar-thumb {
  border-radius: calc(var(--scrollbar-width) / 2 + var(--scrollbar-margin));
  border: var(--scrollbar-margin) solid transparent;
  background: var(--text-weaker);
  background-clip: content-box;
} ::-webkit-scrollbar-thumb:hover {
  background: var(--text-weak);
  background-clip: content-box;
}

* {
  user-select: none;
  min-width: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1;
  background: var(--background-color);
}

body {
  height: 100vh;
  max-height: 100vh;
}

.block {
  position: relative;
  overflow-y: overlay;
  box-shadow: var(--box-shadow);
  background: var(--background-color);
  -webkit-transition: all 0.25s ease-in-out;
}

.window {
  overflow-y: overlay;
}

i {/*
  display: flex;
  justify-content: center;
  align-items: center;*/
  color: var(--text-strong);
}

.menu {
  width: 240px;
}

.mainMenu {
  flex-shrink: 1;
  min-width: 48px;
  width: 240px;
}

.mainMenu-tab {
  cursor: pointer;
  padding: 12px;
} .mainMenu-tab:hover, .mainMenu-tab:hover i {
  color: var(--text-strongest);
} .mainMenu-tab.-active {
  background: rgba(0,0,0, 0.10);
} .mainMenu-tab.-active, .mainMenu-tab.-active i {
  color: var(--text-strongest);
}

.mainContent {
  background: var(--background-color);
}

.tab {
  cursor: pointer;
}

.block > .header > .tabs {
  padding: 0 32px;
  overflow-y: hidden;
}

.block > .header > .tabs > .tab {
  width: 100%;
  max-width: 160px;
  height: 36px;
  padding: 0 16px;
  transform-style: preserve-3d;
  transform: perspective(3px);
} .block > .header > .tabs > .tab:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -8px;
  right: -8px;
  bottom: 0;
  border-top-left-radius: var(--tab-radius);
  border-top-right-radius: var(--tab-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  transform-origin: center bottom;
  transform: rotate3d(1,0,0, 1deg);
} .block > .header > .tabs > .tab.-active, .block > .header > .tabs > .tab.-active i {
  color: var(--text-strongest);
} .block > .header > .tabs > .tab:hover, .block > .header > .tabs > .tab:hover i {
  color: var(--text-strongest);
}

.block > .content {
  background: var(--background-color);
  box-shadow: var(--box-shadow);
}

.languageSelect {
  height: 48px;
}

.tree {
  width: 320px;
}

.tree .branch {
}

.tree .branch .row {
  cursor: pointer;
} .tree .branch .row.-active {
  background: rgba(0,0,0, 0.10);
} .tree .branch .row.-active, .tree .branch .row.-active .icon {
  color: var(--text-strongest);
} .tree .branch .row:hover, .tree .branch .row:hover .icon {
  color: var(--text-strongest);
}

.tree .branch i {
  width: 40px;
  height: 40px;
  font-size: 18px;
}

.tree .-disabled .mdi-eye, .tree .-disabled ~ .branch .mdi-eye {
  color: var(--text-weakest);
}

.tree .category.-collapsed ~ .branch {
  display: none;
}

.tree .branch .branch .item:first-of-type {
  padding-left: calc((40px + 18px) / 2);
}

.tree .branch .branch .branch .item:first-of-type {
  padding-left: calc(40px + 18px);
}

.tree .branch .branch .branch .branch .item:first-of-type {
  padding-left: calc((40px + 18px) / 2 * 3);
}

.tree .branch .branch .branch .branch .branch .item:first-of-type {
  padding-left: calc((40px + 18px) / 2 * 4);
}

.tree .branch .branch .branch .branch .branch .branch .item:first-of-type {
  padding-left: calc((40px + 18px) / 2 * 5);
}

.tree .branch .branch .branch .branch .branch .branch .branch .item:first-of-type {
  padding-left: calc((40px + 18px) / 2 * 6);
}