<div class="block flex-grow flex-shrink" data-display="col">
  <div class="header" data-display="row">
    <div class="flex-shrink">
      <div class="languageSelect" data-padding="16px">
        <div data-display="row" data-align-items="center" data-cell-spacing="16px">
          <i class="mdi mdi-18px mdi-chevron-down"></i>
          <div class="line">Русский</div>
        </div>
      </div>
    </div>
    <div class="tabs flex-grow flex-shrink" data-display="row" data-align-items="end">
      <div class="tab flex-shrink -active" data-display="row">
        <div class="flex-row flex-shrink flex-content-center flex-items-center" data-cell-spacing="4px">
          <i class="mdi mdi-home"></i>
          <div class="line">Главная</div>
        </div>
      </div>
      <div class="tab flex-shrink" data-display="row">
        <div class="flex-row flex-shrink flex-content-center flex-items-center" data-cell-spacing="4px">
          <i class="mdi mdi-format-list-bulleted"></i>
          <div class="line">Каталог</div>
        </div>
      </div>
      <div class="tab flex-shrink" data-display="row">
        <div class="flex-row flex-shrink flex-content-center flex-items-center" data-cell-spacing="4px">
          <i class="mdi mdi-cube-outline"></i>
          <div class="line">Товар</div>
        </div>
      </div>
      <div class="tab flex-shrink" data-display="row">
        <div class="flex-row flex-shrink flex-content-center flex-items-center" data-cell-spacing="4px">
          <i class="mdi mdi-shopping"></i>
          <div class="line">Корзина</div>
        </div>
      </div>
      <div class="tab flex-shrink" data-display="row">
        <div class="flex-row flex-shrink flex-content-center flex-items-center" data-cell-spacing="4px">
          <i class="mdi mdi-wallet"></i>
          <div class="line">Оплата</div>
        </div>
      </div>
    </div>
  </div>
  <div class="content flex-grow">

  </div>
</div>