<div class="block flex-grow" data-display="col">
  <div class="header" data-display="row">
    <div>
      <div class="languageSelect" data-padding="16px">
        <div data-display="row" data-align-items="center" data-cell-spacing="8px">
          <i class="mdi mdi-18px mdi-chevron-down"></i>
          <div>Русский</div>
        </div>
      </div>
    </div>
    <div class="tabs flex-grow" data-display="row" data-align-items="end">
      <div class="tab -active" data-display="row" onclick="importModule('products-catalogue', 'productsContent')">
        <div data-display="row" data-align-content="center" data-align-items="center" data-cell-spacing="4px">
          <i class="mdi mdi-file-tree"></i>
          <div class="line">Каталог</div>
        </div>
      </div>
      <div class="tab" data-display="row">
        <div data-display="row" data-align-content="center" data-align-items="center" data-cell-spacing="4px">
          <i class="mdi mdi-format-list-bulleted"></i>
          <div class="line">Склад</div>
        </div>
      </div>
    </div>
  </div>
  <div id="productsContent" class="content flex-grow" data-display="col" data-padding="16px">
    
  </div>
</div>