<div class="flex-grow" data-display="row" data-cell-spacing="8px">
  <div>
    <div data-display="col" data-padding="16px">
      <div class="tree">
        <div class="branch" data-display="col">
          <div class="item category" data-display="row" data-align-items="center" data-trigger="hover">
            <i class="mdi mdi-eye"></i>
            <i class="mdi mdi-folder"></i>
            <div class="flex-grow">Смартфоны</div>
            <i class="mdi mdi-pencil" data-reaction="opacity"></i>
          </div>
          <div class="branch" data-display="col">
            <div class="item category" data-display="row" data-align-items="center" data-trigger="hover">
              <i class="mdi mdi-eye"></i>
              <i class="mdi mdi-folder"></i>
              <div class="flex-grow">Apple</div>
              <i class="mdi mdi-pencil" data-reaction="opacity"></i>
            </div>
            <div class="branch" data-display="col">
              <div class="item product -active" data-display="row" data-align-items="center" data-trigger="hover">
                <i class="mdi mdi-eye"></i>
                <i class="mdi mdi-cube-outline"></i>
                <div class="flex-grow">iPhone 6</div>
                <i class="mdi mdi-pencil" data-reaction="opacity"></i>
              </div>
              <div class="item product" data-display="row" data-align-items="center" data-trigger="hover">
                <i class="mdi mdi-eye"></i>
                <i class="mdi mdi-cube-outline"></i>
                <div class="flex-grow">iPhone 6 Plus</div>
                <i class="mdi mdi-pencil" data-reaction="opacity"></i>
              </div>
              <div class="item product" data-display="row" data-align-items="center">
                <i></i>
                <i class="mdi mdi-plus"></i>
                <div class="flex-grow">Add product</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow" data-display="col">
    <div class="block bright flex-grow" data-padding="32px">
      <div>iPhone 6</div>
    </div>
  </div>
</div>