<div data-display="col" class="flex-grow" data-padding="16px">
  <div class="flex-grow" data-display="col" data-cell-spacing="16px">
    <div>
      <div data-padding="16x 8y">
        <div data-display="row" data-cell-spacing="8px">
          <div class="-active" data-width="3">Name</div>
          <div data-width="3">Category</div>
          <div data-width="2" data-text-align="right">Regular Price</div>
          <div data-width="2" data-text-align="right">Sale Price</div>
          <div data-width="2" data-text-align="right">Quantity</div>
        </div>
      </div>
    </div>
    <div data-display="col">
      <div data-display="col" class="block bright flex-grow table">
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
        <div data-padding="16px">
          <div data-display="row" data-cell-spacing="8px">
            <div data-width="3">iPhone 6</div>
            <div data-width="3">Smartphones / Apple</div>
            <div data-width="2" data-text-align="right">250 000</div>
            <div data-width="2" data-text-align="right">199 000</div>
            <div data-width="2" data-text-align="right">10</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>